version: "2"

services:
  lowkey-vault:
    container_name: lowkey-vault-go
    image: nagyesta/lowkey-vault:7.1.9@sha256:534f5c581d08ef4007d798af0ded9146058f092c3126665bd08f77a4c628166c
    ports:
      - "8080:8080"
      - "8443:8443"
    environment:
      LOWKEY_ARGS: "--server.port=8443 --app.token.port=8080"
