version: "2"

services:
  lowkey-vault:
    container_name: lowkey-vault-go
    image: nagyesta/lowkey-vault:7.1.13@sha256:45019f39785d94858ec23c1cf88639651bc108c201d45984b2441f0cc139b3b3
    ports:
      - "8080:8080"
      - "8443:8443"
    environment:
      LOWKEY_ARGS: "--server.port=8443 --app.token.port=8080"
