version: "2"

services:
  lowkey-vault:
    container_name: lowkey-vault-go
    image: nagyesta/lowkey-vault:7.1.0@sha256:0253e7cc7b2a17aafbb1682c38385aca99dbdcfe4cb9c102b584a9868bfdaf59
    ports:
      - "8080:8080"
      - "8443:8443"
    environment:
      LOWKEY_ARGS: "--server.port=8443 --app.token.port=8080"
