# Build Go

name: Go package

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions: read-all

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: Set up Go
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      with:
        go-version: '1.23.0'
    - name: Start Lowkey Vault
      run: |
        docker compose up -d
        sleep 5
        docker ps
        if [ $(docker ps | grep nagyesta | wc -l) -ne 1 ]; then echo "ERROR: Some containers are not running"; exit 1; fi
    - name: Test with go
      env:
        IDENTITY_ENDPOINT: http://localhost:8080/metadata/identity/oauth2/token
        IDENTITY_HEADER: header
      run: |
        go test ./src -v
    - name: Stop container
      if: always()
      run: |
        docker compose down
