# Build Go

name: Go package

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - name: Set up Go
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        go-version: '1.24.0'
    - name: Start Lowkey Vault
      run: |
        docker compose up -d
        sleep 5
        docker ps
        if [ $(docker ps | grep nagyesta | wc -l) -ne 1 ]; then echo "ERROR: Some containers are not running"; exit 1; fi
    - name: Test with go
      env:
        IDENTITY_ENDPOINT: http://localhost:8080/metadata/identity/oauth2/token
        IDENTITY_HEADER: header
      run: |
        go test ./src -v
    - name: Stop container
      if: always()
      run: |
        docker compose down
