# Build Go

name: Go package

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3
    - name: Set up Go
      uses: actions/setup-go@93397bea11091df50f3d7e59dc26a7711a8bcfbe # v4.1.0
      with:
        go-version: '1.18.2'
    - name: Start Lowkey Vault
      run: |
        docker-compose up -d
        sleep 5
        docker ps
    - name: Test with go
      run: |
        go test ./src -v
    - name: Stop container
      if: always()
      run: |
        docker-compose down